<ion-view view-title="Nuestra Casa">
  <ion-content>
    <ul class="cb-slideshow">
        <li><span></span><div><h3></h3></div></li>
        <li><span></span><div><h3></h3></div></li>
        <li><span></span><div><h3></h3></div></li>
        <li><span></span><div><h3></h3></div></li>
        <li><span></span><div><h3></h3></div></li>
        <li><span></span><div><h3></h3></div></li>
    </ul>
    <div class="container">      
      <img style="width:75%;  margin-top:25%;" src="img/logo.png">
      <form method="post" action="">
        <fieldset class="ui-field-contain">
          <select name="day">
            <option value="mon">Arriendo</option>
            <option value="tue">Venta</option>
            <option value="wed">Remate</option>
            <option value="thu">Permuta</option>
            <option value="fri">Arriendo y Permuta</option>
          </select>
        </fieldset>
        <button class="button button-block button-royal">Buscar</button>
      </form>
  </div>
  </ion-content>
</ion-view>
